.monopoly-players {
	float: left;
	padding-top: 20px;
}

.player-panel {
	display: inline;
	border : 1px solid black;
	padding: 5px;
	margin-right: 10px;
}

.player-panel-token {
	margin-right: 4px;
}

.player-name {
	text-align: left;
	margin-right: 40px;
}

.player-money {
	text-align: right;
}