.monopoly-trade-panel {
	text-align: center;
}

.monopoly-trade-player-panels {
	overflow: auto;
	margin-bottom: 20px;
}

.monopoly-trade-player-panel {
	width: 50%;
	float: left;
}

.monopoly-trade-player-properties {
	padding-top: 6px;
	padding-bottom: 6px;
}

.monopoly-trade-player-property {
	box-sizing: content-box;
	border-radius: 4px;
	padding: 1px;
	color: #fff;
	text-shadow: 1px 1px #000;
	margin-bottom: 2px;
	width: 240px;
}

.monopoly-trade-player-property-selected {
	text-shadow: 1px 1px #fff, -1px -1px #fff, -1px 1px #fff, 1px -1px #fff;
	color: #000;
}

.monopoly-trade-player-money-spinner {
	width: 100px;
}

.monopoly-trade-player-money-total {
	padding-left: 6px;
}