.monopoly-players {
	float: left;
	padding-left: 10px;
}

.player-panel {
	border : 1px solid black;
	border-radius: 4px;
	padding: 5px;
	margin-bottom: 10px;
	width: 300px;
	box-sizing: content-box;
}

.player-panel-token {
	margin-right: 4px;
}

.player-name {
	text-align: left;
}

.player-money {
	float: right;
	text-align: right;
}

.player-properties {
	padding-top: 6px;
}

.player-property {
	border-radius: 4px;
	padding: 1px;
	text-align: center;
	color: white;
	text-shadow: 1px 1px black;
	margin-bottom: 2px;
}